.card-container, .front, .back{
	width: 20em;
	height: 20em;
}

..card-container{
	margin: 5em;
	position: relative;
    perspective: 75rem;
}

.front, .back{
	box-sizing: border-box;
	padding: 2em;
	border-radius: 4em;

	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);

	font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;

}

.front{
    background-image: linear-gradient(to right bottom, #2ecc71, #229955);
}

.back{
	background-image: linear-gradient(to right bottom, #f1c40f, #e67e22);
}


.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform .8s ease;
}
.back {
    transform: rotateY(180deg);
}
.card-container:hover .front {
    transform: rotateY(-180deg);
}
.card-container:hover .back {
    transform: rotateY(0deg);
}

